h4 {
    margin-bottom: 0.5em;
}

.location-map {
    background: url("https://www.shutterstock.com/image-vector/city-map-any-kind-digital-260nw-2021574014.jpg") no-repeat 0px -15px;
    width: 200px;
    height: 80px;
    background-size: 100% auto;
    border-radius: 3px;
    box-shadow: 0 0 3px #eee;
}

.profile-circle {
    border-radius: 100%;
    background: #c1a3df;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    box-shadow: 0 0 3px #eee;
}
.profile-circle:hover {
    cursor: pointer;
    box-shadow: 0 0 6px #ddd;
}

.card-container {
    display: flex;  /* Contain flex-items itself */
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 1em;
}
.card {
    width: 100%;
    height: 120px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 0 3px #ccc;
    cursor: pointer;
}
.card img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .card-text {
    font-weight: bold;
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0.8) 90%, rgba(240,240,240,0) 100%);     position: absolute;
    bottom: 0;
    padding: 5px;
    transition: linear 200ms;
    width: 100%;
    opacity: 0.5;
}
.card:hover {
    box-shadow: 0 0 6px #bbb;
}
.card:hover .card-text {
    opacity: 0;
}
@media all and (min-width: 485px) {
    .card {
        width: 200px;
    }
}
@media all and (min-width: 600px) {
    .card .card-text {
        opacity: 1;
    }
}

.tag-list {
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    flex-flow: row wrap;
}
.tag-list .tag {
    cursor: pointer;
    background: #eee;
    border-radius: 3px;
    box-shadow: 0 0 3px #eee;
    padding: .5em;
    font-weight: bold;
}

.tag-list .tag.active, .tag:hover {
    background: #ccc;
}

.search-input {
    border-radius: 17px;
    box-shadow: 0 0 3px #eee;
    width: 284px;
}
.search-input > * {
    display: inline-block;
    height: 32px;
}
.search-input input {
    font-size: 17px;
    padding: 0 0 0 5px;
    border: 1px solid #ccc;
    border-radius: 17px 0 0 17px;
    width: calc(100% - 42px);
}

.search-input .icon-container {
    color: white;
    border-radius: 0 17px 17px 0;
    background: #ccc;
    position: relative;
    height: 34px;
    width: 30px;
    top: 1px;
    padding-left: 5px;
    cursor: pointer;
}