body {
    display: flex;
    flex-flow: row wrap;

    /* Used for footer snapping to bottom */
    min-height: 100vh;
}

body > * { /* > direct child of body */
    /*
    Sets the default of all items to be equally
    as large and take up maximum space
    */
    flex: 1 100%; /* grow basis */
}

footer {
    /* snap footer to bottom */
    margin-top: auto;

    min-height: 100px;
}

footer > section {
    /*
    footer sections all get same amount
    of space to distribute
    */
    flex: 1; /* grow, basis = 0 */
}

/* Start at big screens */
@media all and (min-width: 600px) {
    nav {
        flex: 1 0 0; /* grow shrink basis */
    }
    main {
        flex: 4 min-content;
    }
    footer {
        display: flex;
    }
}

@media all and (min-width: 800px) {

    main {
        flex: 5 min-content;
    }
}

/* Small screens and smaller */
@media all and (max-width: 599px) {
    header {
        flex-flow: row wrap;
    }
    header section.search {
        width: 100%;
        order: 3;
        flex: auto;
    }
    header section.search .search-input {
        margin-top: 1em;
        width: 100%;
    }

    nav {
        box-shadow: 0 0 3px #eee;
        margin-bottom: 1em;
    }
}